[submodule "lib/Zend"]
	path = lib/Zend
	url = https://github.com/dmelo/Zend-1.11
[submodule "lib/ZF1-D2"]
	path = lib/ZF1-D2
	url = git://github.com/guilhermeblanco/zendframework1-doctrine2.git
[submodule "lib/doctrine2"]
	path = lib/doctrine2
	url = git://github.com/doctrine/doctrine2.git
[submodule "public/styles/font-awesome"]
	path = public/styles/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "public/styles/animate.css"]
	path = public/styles/animate.css
	url = git://github.com/daneden/animate.css.git
[submodule "public/js/dojo"]
	path = public/js/dojo
	url = git://github.com/dojo/dojo.git
[submodule "public/js/dojox"]
	path = public/js/dojox
	url = git://github.com/dojo/dojox.git
[submodule "public/js/dijit"]
	path = public/js/dijit
	url = git://github.com/dojo/dijit.git
