#
# Configuration
#
# We used to set APPLICATION_ENV here, but in order to make deploying easier, 
# please use OR the vhost configuration OR ENV vars for any of the following settings :
#
# APPLICATION_ENV (defaults to "production")
# APPLICATION_ZF_PATH
# APPLICATION_PATH
#

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php

# Gzip CSS and JS by default
AddOutputFilterByType DEFLATE text/css application/x-javascript

# PHP values we need to set
# - timezone should be set
# - need short open tags for view scripts
#php_value date.timezone "GMT+8"
#php_value short_open_tag 1
#php_value error_reporting 8191
#php_flag display_errors On
#php_flag display_startup_errors On
  