@CHARSET "UTF-8";

.dopeFormColorPicker {
	position: relative;
	border: 1px solid #eee;
	padding: 5px;
	display: inline-block;
}

.dopeFormColorPicker .dojoxColorPicker .dojoxColorPickerPreview {
	width: 120px;
	height: 150px;
	margin-left: 5px;
}

.dopeFormColorPicker .dojoxHuePicker {
	position: relative;
	padding-left: 5px;
}

.dopeFormColorPicker .dojoxColorPickerRgb,
.dopeFormColorPicker .dojoxColorPickerHsv,
.dopeFormColorPicker .dojoxColorPickerHex {
	display: none;
}