@CHARSET "UTF-8";

/*
 * @todo Snowwhite styles should go somewhere else!
 */
.snowwhiteFormEmail .dijitTextBox {
	min-width: 360px;
	padding: 2px;
}

.dopeEmailBox {
	width: auto;
	
}

.dopeEmailBox .dijitInputField {
	display: inline-block;
}

.dopeEmailBoxContactContainer {
	display: inline-block;
	vertical-align: middle;
}

.dopeEmailBoxContact {
	display: inline-block;
	padding: 3px;
	margin: 0 2px 0 0 ;
	border: 1px solid #ccc;
	background-color: #f6f9ff;
	color: #333;
	border-radius: 2px;
}

.dopeEmailBoxContactRemove {
	border-radius: 15px;
	padding: 0px 5px;
	background-color: #EEE;
	font-size: smaller;
	margin-left: 3px;
	border: 1px solid #CCC;
	cursor: pointer;
	vertical-align: baseline;
}