@CHARSET "UTF-8";

.dopeOperations {
	position: absolute;
	top: 0;
	right: 220px;
	width: 220px;
	line-height: 27px;
}

.dopeOperations .summary {
	text-align: center;
}

.dopeOperations .details {
	background-color: #fff;
	box-shadow: 1px 1px 3px #ccc;
}

.dopeOperations .details .dopeOperation {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ccc;
	padding: 0 3px 0 32px;
}