@CHARSET "UTF-8";

.dopeFileInput {
	display: inline-block;
	width: auto !important;
}

.dopeFileInput .dijitButton {
	display: inline-block !important;
}

.dopeFileInput .dopeFileName {
	padding: 4px 0;
	min-width: 10.3em;
	display: inline-block;
}