@CHARSET "UTF-8";

/* Columns */
.column-1{ width: 98%; margin: 1%; }

.column-2{ width: 48.5%; float:left; }
.column-2-1{ margin: 1% 0% 1% 1%; }
.column-2-2{ margin: 1% 1% 1% 1%; }

.column-3{ width: 32%; float:left; }
.column-3.span-2{ width: 65%; float:left; }
.column-3-1{ margin: 1% 0% 1% 1%; }
.column-3-2{ margin: 1% 0% 1% 1%; }
.column-3-3{ margin: 1% 1% 1% 1%; }