@CHARSET "UTF-8";

table.printable .item {
	border-top: thin solid #eee;

	padding: 5px 0;
	margin: 0;
}

table.printable .item:first-child {
	border: 0;
}
table.stats {
	border: 1px solid #999;
	margin: 1em 0;
	width: 100%;
	border-radius: 0 0 5px 5px;
}


table.stats tr:last-child td:first-child { border-radius: 0 0 0 5px; }
table.stats tr:last-child td:last-child { border-radius: 0 0 5px 0; }

table.stats caption {
	background-color: #999;
	padding: 5px;
	font-weight: bold;
	color: white;
	border-radius: 5px 5px 0 0;
	margin-right: -2px;
}


table.dojoxLegendNode.dojoxLegendHorizontal {
	border-radius: 0 0 5px 5px;
	background-color: #eee;
	
	border-top: 1px solid #ccc;
	width: 100%;
}
table.dojoxLegendNode.dojoxLegendHorizontal td {
	padding: 3px 7px;
}
table.dojoxLegendNode.dojoxLegendHorizontal .dojoxLegendText {
	
}